{% load static %}

<head>
    <title>汽车租赁系统</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <script src="{% static 'js/dist/all.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=UpOGd4A1L9J3atLw7SHtr2fJUWsQ4P6Q"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">


</head>


<body style="margin: 0">
    <div id="hire_1"></div>
    <script type="module">
        $(document).ready(function(){
            let hire = new Hire("hire_1");
        });
    </script>
</body>

